<div class="column-layout column">
  <h6 class="title">Dashboards</h6>
  <igx-list class="list">
    <igx-list-item class="list-item">
      <h4 igxListLineTitle>Dashboards</h4>
      <igx-icon font="material" [active]="true" igxListAction class="icon_1">dashboard</igx-icon>
    </igx-list-item>
    <igx-list-item class="list-item">
      <h4 igxListLineTitle>Favorites</h4>
      <igx-icon font="material" [active]="true" igxListAction class="icon_1">star</igx-icon>
    </igx-list-item>
    <igx-list-item class="list-item">
      <h4 igxListLineTitle>Recent</h4>
      <igx-icon font="material" [active]="true" igxListAction class="icon">access_time</igx-icon>
    </igx-list-item>
    <igx-list-item class="list-item">
      <h4 igxListLineTitle>Samples</h4>
      <igx-icon font="material" [active]="true" igxListAction class="icon_1">ballot</igx-icon>
    </igx-list-item>
  </igx-list>
</div>
<div class="column-layout_1 column">
  <div class="row-layout row">
    <h5 class="title_1">Recent</h5>
    <button igxButton="raised" [disabled]="false" routerLink="/dashboards" class="button">
      <igx-icon>settings_ethernet</igx-icon>
      <span>Go Back</span>
    </button>
  </div>
  <div class="row-layout_1 row">
    <button igxButton="fab" type="fab" [disabled]="false" class="floating-action-button">
      <igx-icon>add</igx-icon>
    </button>
    <img class="image" />
  </div>
</div>
